---
layout: default
---
<div class="container visible-xs">
  <h1 class="slogan text-center">Wir bieten Versicherungslösungen für Unternehmen</h1>
  <h2 class="slogan text-center">Ihr Versicherungsmakler in<br>Berlin-Brandenburg</h2>
</div>

{% include slider.html %}

{% include teaser.html %}

{% include schaden.html %}

<div class="container visible-md-block visible-lg-block">
  <div class="row">
    <div class="col-sm-6">
    {% include news.html %}
    </div>
    <div class="col-sm-6">
    {% include gruende.html %}
    </div>
  </div>
</div>