<footer>
  <div class="first-footer hidden-xs">
    <div class="container">
      <div class="row">
        {% for post in site.categories.footer %}
          <div class="col-lg-3 col-sm-6 first-footer-item">
            <h4>{{ post.heading }}</h4>
            <ul class="list-unstyled">
              <li>{{ post.text1}}</li>
              <li>{{ post.text2}}</li>
              <li>{{ post.text3}}</li>
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="secondary-footer">
    <div class="container visible-xs-block">
      <ul class="list-unstyled">
        <li><a href="{{ site.baseurl }}/impressum">{{ site.navimpress }}</a></li>
        <li><a href="{{ site.baseurl }}/datenschutz">{{ site.navdata }}</a></li>
        <li><a href="{{ site.baseurl }}/widerrufsrecht">{{ site.navwiderruf }}</a></li>
      </ul>
      <ul class="list-unstyled">
        <li>© 2016</li>
        <li>WOMAK 24 GmbH Berlin-Brandenburg Versicherungsmakler</li>
      </ul>
    </div>
    <div class="container hidden-xs" id="footer-navigation">
    {% assign current = page.url | downcase | split: '/' %}
      <ul class="list-inline secondary-footer-right">
        <li {% if current[1] == 'impressum' %}class='active'{% endif %}><a href="{{ site.baseurl }}/impressum/">{{ site.navimpress }}</a></li>
        <li>|</li>
        <li  {% if current[1] == 'datenschutz' %}class='active'{% endif %}><a href="{{ site.baseurl }}/datenschutz/">{{ site.navdata }}</a></li>
        <li>|</li>
        <li  {% if current[1] == 'wiederrufsrecht' %}class='active'{% endif %}><a href="{{ site.baseurl }}/wiederrufsrecht/">{{ site.navwiderruf }}</a></li>
      </ul>
      <ul class="list-inline secondary-footer-left">
        <li>© 2016</li>
        <li>|</li>
        <li>WOMAK 24 GmbH Berlin-Brandenburg Versicherungsmakler</li>
      </ul>
    </div>
  </div>
</footer>
