<header>

  <div>
    <img class="img-responsive" src="img/womak-logo_medium-rgb-72dpi.png">

    <nav class="navbar navbar-default visible-xs navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button type="button" class="btn btn-warning btn-sm navbar-btn">Schaden melden</button>
          <span href="#" class="pull-right navbar-text">MENÜ</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn btn-default btn-sm navbar-btn">03533 478260</button></li>
            <li><button type="button" class="btn btn-default btn-sm navbar-btn">info@womak24.de</button></li>
            <li><a href="#">Über uns</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Unsere Dienstleistungen <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Risikianalyse&nbsp;&amp;&nbsp;Beratung</a></li>
                <li><a href="#">Immobilienversicherungen</a></li>
                <li><a href="#">D&nbsp;&amp;&nbsp;O Multihaftpflichtversicherung</a></li>
                <li><a href="#">Lohnkostenoptimierung</a></li>
                <li><a href="#">Honorarberatung mit Nettotarifen</a></li>
                <li><a href="#">Dienstleistungen für Privatpersonen</a></li>
                <li><a href="#">Weitere Dienstleistungen</a></li>
              </ul>
            </li>
            <li><a href="#">Qualitätssiegel</a></li>
            <li><a href="#">Onlinemagazin</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>

  </div>

</header>
