<header class="hidden-xs hidden-sm tagline text-right">
  <div class="container">
    <a href="/schaden-melden/" class="btn btn-success btn-sm navbar-btn"><i class="fa fa-fw fa-bolt"></i>Schaden melden</button>
    <a href="tel:0049353348260" class="btn btn-info btn-sm navbar-btn"><i class="fa fa-phone"></i> 03533 48260</a>
    <script src="{{ site.baseurl }}/js/email-header.js"></script><noscript></noscript>
  </div>
</header>

<header class="visible-xs-block visible-sm-block">
  <div class="container">
    <a href="/">
      <div class="logo"></div>
    </a>
  </div>
</header>

{% assign current = page.url | downcase | split: '/' %}

<nav class="navbar navbar-default" id="navbar">
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand hidden-xs hidden-sm" href="/">
          <div class="logo"></div>
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="navbar-toggle-button-id">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-txt">MENÜ</span><i class="fa fa-lg fa-bars"></i>
        </button>
        <button type="button" class="btn btn-success btn-sm navbar-btn visible-xs-block visible-sm-block"><i class="fa fa-bolt"></i> Schaden melden</button> 
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="visible-xs-block visible-sm-block">
            <p class="navbar-btn">
              <a href="tel:0049353348260" class="btn btn-info btn-sm"><i class="fa fa-phone"></i> 03533 48260</a>
            </p>
          </li>
          <li class="visible-xs-block visible-sm-block">
            <p class="navbar-btn">
                <script src="{{ site.baseurl }}/js/email-menu.js"></script>
                <noscript></noscript>
            </p>
          </li>
          <li><a href="/" class="hidden-md hidden-lg">Startseite</a></li>
          <li {% if current[1] == 'about' %}class='active'{% endif %}><a href="/about/"><i class="fa fa-2x fa-info hidden-xs hidden-sm"></i> {{ site.navabout }}</a></li>
          <li class="dropdown {% if current[1] == 'leistungen' %}active{% endif %}">
            {% comment %} Desktop Version (menu on hover) {% endcomment %}
            <a href="/leistungen/" class="dropdown-toggle hidden-xs hidden-sm" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-cubes hidden-xs hidden-sm"></i> {{ site.navleistungen }} <span class="caret"></span></a>
            {% comment %} Mobile Version (menu on klick) {% endcomment %}
            <a href="/leistungen/" class="visible-xs-block visible-sm-block dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-cubes hidden-xs hidden-sm"></i> {{ site.navleistungen }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/leistungen/risikoanalyse">{{ site.navrisiko }}</a></li>
              <li><a href="/leistungen/immobilienvs">{{ site.navimmo }}</a></li>
              <li><a href="/leistungen/multihpv">{{ site.navmulti }}</a></li>
              <li><a href="/leistungen/lohnkostenoptimierung">{{ site.navlohn }}</a></li>
              <li><a href="/leistungen/honorarberatung">{{ site.navhonorar }}</a></li>
              <li><a href="/leistungen/weitere">{{ site.navweitere }}</a></li>
            </ul>
          </li>
          <li {% if current[1] == 'qualitaetssiegel' %}class='active'{% endif %}><a href="/qualitaetssiegel/"><i class="fa fa-2x fa-certificate hidden-xs hidden-sm"></i> {{ site.navquali }}</a></li>
          <li {% if current[1] == 'kindenmagazin' %}class='active'{% endif %}><a href="/kundenmagazin/"><i class="fa fa-2x fa-newspaper-o hidden-xs hidden-sm"></i> {{ site.navnews }}</a></li>
          <li class="dropdown {% if current[1] == 'kontakt' %}active{% endif %}">
            {% comment %} Desktop Version (menu on hover) {% endcomment %}
            <a href="/kontakt/" class="dropdown-toggle hidden-xs hidden-sm" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-paper-plane hidden-xs hidden-sm"></i> {{ site.navkontakt }}<span class="caret"></span></a>
            {% comment %} Mobile Version (menu on klick) {% endcomment %}
            <a href="/kontakt/" class="visible-xs-block visible-sm-block dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-paper-plane hidden-xs hidden-sm"></i> {{ site.navkontakt }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/schaden-melden/index.php">{{ site.navschaden }}</a></li>
              <li><a href="/kontakt/elsterwerda">{{ site.navelsterwerda }}</a></li>
              <li><a href="/kontakt/berlin">{{ site.navberlin }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>