<div class="schaden container visible-md-block visible-lg-block">
  <div class="row">
    <div class="col-sm-12">
      <img class="schaden-img" src="{{ site.baseurl }}/img/woman.png">
      <div class="schaden-content col-sm-8 col-md-offset-4">
        <h3>Im Schadensfall 24 Stunden für Sie da!</h3>
        <p>Ihre Schadensmeldung ist der erste Schritt zur schnellen und exakten Regulierung durch uns.</p>
        <a href="#" class="btn btn-success"><i class="fa fa-fw fa-bolt"></i>Schaden melden</a>
      </div>
    </div>
  </div>
</div>
