<section id="bubbles">
  <div class="container">
    <div class="row">

      <div class="resp-circle col-xs-4 col-xs-offset-4 text-center"><div><i class="fa fa-info"></i></div></div>
      
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Über uns</h3>
          <p>Wir sind seit 1994 als Versicherungsmakler GmbH tätig und verfügen damit über einen großen Fundus an Erfahrungen.</p>
          <button class="btn btn-sm" onclick="window.location.href='{{ post.link }}'">Mehr erfahren</button>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="resp-circle col-xs-4 col-xs-offset-4 text-center"><div><i class="fa fa-envelope"></i></div></div>
      
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Kontakt</h3>
          <p>Wir sind jederzeit gern für Sie da. Sprechen Sie uns an.</p>
          <button class="btn btn-sm" onclick="window.location.href='{{ post.link }}'">Mehr erfahren</button>
        </div>
      </div>

    </div>
  </div>
</section>