// Teaser - Responsive Circle

.resp-circle:after {
  background-color: $brand-primary;
  content: "";
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}
.resp-circle div {
  float:left;
  width:100%;
  color: $brand-info;
  font-size: $font-size-base * 4;
}

.bubble-icon {
  background-color: $brand-primary;
}


// Logo
#logo {
	height: 155px;
}



// Navigation
.navbar-default .navbar-toggle{
	border-color: transparent;
}

// START - Sticky Navigation
// http://codepen.io/Guilh/pen/JLKbn
// https://teamtreehouse.com/community/forum-tip-create-a-sticky-navigation-with-css-and-jquery-2

body {
  margin: 0;
  padding-top: 155px + 30px;
}

header {
  height: 155px;
  padding-top: 15px;
}

.navbar,
.main {
  position: relative; 
}
.navbar {
  margin-bottom: -70px;
}

header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}
.main {
  background: #fff;
  padding-top: 70px;
}
// END - Sticky Navigation

// Buttons
.navbar-btn {
	margin-left: 15px;
}

// Slogan

h1.slogan {
  font-size: $font-size-large;
  margin-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  border-bottom: 2px solid $brand-primary;
}

h2.slogan {
  font-size: $font-size-large;
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}