$border-width: 3px;
$footer-bg-color: $gray-lighter;
$footer-text-color: $text-color;    

// Tagline - blue bar at very top (desktop only)
.tagline { background-color: $brand-primary; }

// Logo
#logo { max-height: 155px; }
.navbar-brand img { height: 5 * $line-height-computed; }

// Navigation
.navbar-default .navbar-toggle{
  border-color: transparent;
  color: white;
}

.navbar-txt {
  padding-right: $padding-base-horizontal;
}

// START - Sticky Navigation
// http://codepen.io/Guilh/pen/JLKbn
// https://teamtreehouse.com/community/forum-tip-create-a-sticky-navigation-with-css-and-jquery-2

body {
  margin: 0;
  padding-top: 155px + 30px;
}

header {
  height: 155px;
  padding-top: 15px;
}

.navbar,
.main {
  position: relative; 
}
.navbar { margin-bottom: -60px; }

header,
.main-nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-nav-scrolled {
    opacity: 0.90;
    border-bottom: 1px solid $text-color;
}

.main {
  background: #fff;
  padding-top: 70px; // 0 damit bilder direkt abschließen mit menü
}
// END - Sticky Navigation

// Buttons
.navbar-btn { margin-left: 15px; }

// helper class for putting distance between objects and buttons
.btn-group { margin-top: $line-height-computed; }

// Slogan

h1.slogan {
  border-bottom: 2px solid $brand-primary;
  font-size: $font-size-large;
  margin-top: $line-height-computed;
  padding-bottom: $line-height-computed/2 - 1;
}

h2.slogan {
  font-size: $font-size-large;
  margin-bottom: $line-height-computed;
  margin-top: $line-height-computed/2 - 1;
}

// Accordeon/Panel

// Accordeon/Panel Heading
#accordion {
  a {
    display: block;
    &:focus, &:hover { text-decoration: none; }
    &:hover { background-color: $gray-lighter; }
  }

  h3 { color: $gray-base; }
  .fa { color: $brand-primary; }
}

.panel-group {
  .panel {
    border: none;
    box-shadow: none;
    margin-bottom: $line-height-computed/2;
  }
  
  .panel-heading {
    border: 2px solid $gray-lighter;
    .fa-ul { margin-bottom: 0px; }
  }
}


// Subside
.subside {
  h2 { // override h4 für supertitel (Über uns/sidebar)
    border-bottom: $border-width solid $brand-primary;
    color: $brand-primary;
    font-size: $font-size-large;
    @extend .text-uppercase; 
  }
}

// Leistungen in Subside
// TODO maye call boxes
.leistung {
  text-align: left;

  .fa-circle { color: $brand-primary; }
  .leistung-item { margin-bottom: $line-height-computed; }
  
  .leistung-item-content {
    padding: $padding-base-horizontal $padding-base-vertical;
    border: 1px solid $gray-lighter;
    min-height: 125px; // TODO: should be checked on mobile version
  }
    
  .leistung-item-content:hover {
    background-color: $gray-lighter;
  }
    
  h4 {
    word-wrap: break-word;
    border: none;
    margin-top: 0;
    color: $gray-dark;
  }     
}

// Slider

.slider {
  padding-bottom: 2 * $line-height-computed;

  h4 {
    border: none;
    color: $brand-primary;
  }
}

.slider-content {
  border-top: $border-width solid $brand-primary;

  h4 {
    color: $text-color;
    font-weight: bold;
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed/4;

    span {
      background: white;
      opacity: 0.9;
      padding: 2px;
    }
  }

  span {
    background: white;
    opacity: 0.9;
    padding: 2px;
  }
  span.spacer {
    padding:0 2px;
  }
}

// default setting for smartphones greater sm-devices
.slider-immo,
.slider-analyse,
.slider-do,
.slider-lohn,
.slider-honorar,
.slider-weitere {
  background-position: 25% center;
  background-size: cover;
  height: 200px;
}

.slider-immo { background-image: url(../img/slider-immo.png); }
.slider-analyse { background-image: url(../img/slider-analyse.png); }
.slider-do { background-image: url(../img/slider-do.png); }
.slider-lohn { background-image: url(../img/slider-lohn.png); }
.slider-honorar { background-image: url(../img/slider-honorar.png); }
.slider-weitere { background-image: url(../img/slider-weitere.png); }

.slick-next,
.slick-prev {
  top: -21px;
}

.slick-next { 
    right: 15px; 
}

.slick-prev {
  left: initial;
  right: 40px;
}

// Headings

// H3 - teaser
h3 { @extend .text-uppercase; }

// H4 normal
h4 {
  @extend .text-uppercase;
  border-bottom: $border-width solid $brand-primary;
  color: $brand-primary;

  // grey h4 in footer
  .first-footer & {
    border-color: $footer-text-color;
    color: $footer-text-color;
  }
}

// Teaser
.teaser {
  text-align: center;

  .fa-circle { color: $brand-primary; }
}

// duplicated with first-footer-item, do different
.teaser-item { margin-bottom: 2 * $line-height-computed; }

// Schaden
.schaden {
  color: white;
  margin-bottom: 2 * $line-height-computed;
}

.schaden-content,
.schaden-img {
  background-color: $brand-primary;
}

// First Footer
.first-footer {
    color: $footer-text-color; 
    background-color: $footer-bg-color; 
}

.first-footer-item {
  margin-bottom:  $line-height-computed; // 2 * $line-height-computed;
  margin-top: $line-height-computed;

  // make line over whole screen, when smaller than sm-device
  padding: 0;

  h4, ul {
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
  }
}

// Star after all required form inputs 
.form-group.required .control-label:after {
  content: " *";
  color: red;
}

// Secondary Footer
.secondary-footer {
  background-color: $brand-primary;
  color: white;
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  text-align: center;

  a { color: white; }

  ul { margin-bottom: 0px; }
}

// MEDIA QUERIES ***

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 280px) {
  .navbar-txt,
  .slick-next,
  .slick-prev  {
    display: none !important;
  }
}

/* Extra small to Small Devices <768px */
@media (max-width: $screen-sm-min) {
  .subside { // Content padding in subside when small 
    .content {
      padding-left: $padding-base-horizontal;
      padding-right: $padding-base-horizontal;
    }  
  }    
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

// START - Sticky Navigation
// http://codepen.io/Guilh/pen/JLKbn
// https://teamtreehouse.com/community/forum-tip-create-a-sticky-navigation-with-css-and-jquery-2

body {
  padding-top: 60px; // height of tagline
}

header {
  height: 60px; // height of tagline
  padding-top: 0px;
}

.navbar {
  margin-bottom: -126px; // height of navigation
}

.main {
  padding-top: 126px + $line-height-computed; // height of navigation
}

.navbar-default.main-nav-scrolled {
  height: 4 * $line-height-computed;
  border-bottom: 1px solid $brand-primary;
  opacity: 0.95;

  .navbar-brand {
    padding-top: $line-height-computed/2;
  }

  img { height: 3 * $line-height-computed; }

  .navbar-nav > li > a {
    margin-top: $line-height-computed/2;

    i {
        display: none;
    }
  }
}

// END - Sticky Navigation


  // Navigation in Desktop-Version
  .navbar-default {
    background-color: white;
    height: (5+1) * $line-height-computed;
     
      
    .navbar-nav > li > a {
        color: $text-color;
        margin-top: 2 * $line-height-computed;

        &:hover, &:focus { color: $brand-primary; }
        
        i {
          display: block;
          text-align: center;
        }
    }
      
    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        color: $brand-primary;
        background-color: white; 
    }
      
  }

  // Dropdown in Nav on hover instead of click
  // http://stackoverflow.com/questions/16214326/bootstrap-dropdown-with-hover
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

  
    
  // Slider
  .slider-immo,
  .slider-analyse,
  .slider-do,
  .slider-lohn,
  .slider-honorar,
  .slider-weitere {
    background-position: center center;
    background-size: cover;
    height: 300px;
  }

  .slider-content {
    h4 {
      font-size: $font-size-h3;
      padding-bottom: $line-height-computed/2;
    }
    font-size: $font-size-large;
  }

  // change back: make line not over whole screen
  .first-footer-item {
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;

    h4, ul {
      padding-left: 0;
      padding-right: 0;
    }
  }
    
 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

  // Slider
  .slider-immo,
  .slider-analyse,
  .slider-do,
  .slider-lohn,
  .slider-honorar,
  .slider-weitere {
        height: 390px;
  }

  .slider-content {
    h4 {
      font-size: $font-size-h2;
      padding-top: 2 * $line-height-computed;
    }

    font-size: $font-size-h2;
  }

  // Secondary Footer
  .secondary-footer-left { float: left; }
  .secondary-footer-right { float: right; }
}


