---
layout: subsite-with-sidebar
image: kundenmagazin
add: Immer auf dem neuesten Stand.
sidebar-title: "Ausgaben zum Herunterladen"
sidebar-items:


- title: Frühjahr-Sommer 2018 <span class="caret"></span>
  text: "<a class='link' href='downloads/2018_Kundenmagazin_Fruehjahr_Sommer_WOMAK24_GmbH.pdf' target='blank'><i class='fa fa-fw fa-file-pdf-o'></i>Online-Kundenmagazin [PDF]</a><small><strong>Inhalt:</strong> Mitarbeiterbindung | Erhöhte Entgeltumwandlung | Infos zu Überschwemmungs-/Elementarschäden | Raub/Trickdiebstahl: Hausratsversicherung | Live aus der Schadenspraxis | ...</small>"
  icon: fa-newspaper-o

- title: Herbst-Winter 2017 <span class="caret"></span>
  text: "<a class='link' href='downloads/2017_Kundenmagazin_Herbst_Winter_WOMAK24_GmbH.pdf' target='blank'><i class='fa fa-fw fa-file-pdf-o'></i>Online-Kundenmagazin [PDF]</a><small><strong>Inhalt:</strong> Betriebliche Altersvorsorge | Privater D&O-Schutz | Cyber-Kriminalität | Live aus der Schadenspraxis | Wohngebäudeversicherung | ...</small>"
  icon: fa-newspaper-o

- title: Frühjahr-Sommer 2017 <span class="caret"></span>
  text: "<a class='link' href='downloads/2017_Kundenmagazin_Fruehjahr_Sommer_WOMAK24_GmbH.pdf' target='blank'><i class='fa fa-fw fa-file-pdf-o'></i>Online-Kundenmagazin [PDF]</a><small><strong>Inhalt:</strong> Cyber-Versicherungsschutz | Feuer-Betriebsunterbrechung | Wichtige Hinweise für Ihren Versicherungsschutz | Fragen und Antworten: Schadenspraxis | Photovoltaikanlagen (PV­Anlagen) | Pflegestärkungsgesetz II | Tipps und Tricks | ...</small>"
  icon: fa-newspaper-o

- title: Herbst-Winter 2016 <span class="caret"></span>
  text: "<a class='link' href='downloads/2016_Kundenmagazin_Herbst_Winter_WOMAK24_GmbH.pdf' target='blank'><i class='fa fa-fw fa-file-pdf-o'></i>Online-Kundenmagazin [PDF]</a><small><strong>Inhalt:</strong> Produkthaftpflicht | Forderungsausfall: Sicherung Ihrer Liquidität | Allgefahren-Deckung | Unfall auf dem Arbeitsweg: Problem Berufsgenossenschaft | Fahrerschutz | Fragen, Antworten und Hinweise aus der Praxis | ...</small>"
  icon: fa-newspaper-o

- title: Frühjahr-Sommer 2016 <span class="caret"></span>
  text: "<a class='link' href='downloads/2016_Kundenmagazin_Fruehjahr_Sommer_WOMAK24_GmbH.pdf' target='blank'><i class='fa fa-fw fa-file-pdf-o'></i>Online-Kundenmagazin [PDF]</a><small><strong>Inhalt:</strong> Cyber-Kriminalität | Neue EU-Richtlinie zur Netz- und Informationssicherheit | Kautionsversicherung | Drohnen versichern | Altersversorgung | Rauchwarnmelder | ...</small>"
  icon: fa-newspaper-o

- title: Herbst-Winter 2015 <span class="caret"></span>
  text: "<a class='link' href='downloads/2015_Kundenmagazin_Herbst_Winter_WOMAK24_GmbH.pdf' target='blank'><i class='fa fa-fw fa-file-pdf-o'></i>Online-Kundenmagazin [PDF]</a><small><strong>Inhalt:</strong> Kreditversicherung | VdS Cyber-Security | Einbruch-Report 2015 | Altersvorsorge | Realistische Renteninformationen | Wichtiger Todesfallschutz | ...</small>"
  icon: fa-newspaper-o

- title: Frühjahr-Sommer 2015 <span class="caret"></span>
  text: "<a class='link' href='downloads/2015_Kundenmagazin_Fruehjahr_Sommer_WOMAK24_GmbH.pdf' target='blank'><i class='fa fa-fw fa-file-pdf-o'></i>Online-Kundenmagazin [PDF]</a><small><strong>Inhalt:</strong> Umweltschutz­-Haftung | Pflegestärkungsgesetz | Elementarschäden | Gewässerschadenhaftpflicht | Haftpflicht für Fluggeräte | Kfz-Versicherung | ...</small>"
  icon: fa-newspaper-o
---

<h2>{{ site.navnews }}</h2>

<div class="subside-content">
  <p>Das Online-Kundenmagazin bietet aktuelle Informationen, die für den Versicherungsschutz unserer Kunden und Geschäftsfreunde bedeutend und interessant sind.</p>

  <h3>{{ page.sidebar-title }}</h3>

  <div class="panel-group" id="accordion-km" role="tablist" aria-multiselectable="true">
    {% assign post_index = 1 %}
    <!-- https://talk.jekyllrb.com/t/how-to-retrieve-the-current-post-index-number-in-jekyll/814/5 -->
    {% for item in page.sidebar-items %}
    <div class="panel panel-default">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-km" href="#collapse-km{{ post_index }}" aria-expanded="true" aria-controls="-km{{ post_index }}">
        <div class="panel-heading" role="tab" id="heading-km{{ post_index }}">
          <h3 class="panel-title">
            <ul class="fa-ul">
              <li><i class="fa-li fa {{ item.icon }}"></i> {{ item.title }}</li>
            </ul>
          </h3>
        </div>
      </a>
      <div id="collapse-km{{ post_index }}" class="panel-collapse collapse {% if post_index == 1 %}in{% endif %}" role="tabpanel" aria-labelledby="heading-km{{ post_index }}">
        <div class="panel-body">
          {{ item.text }}
        </div>
      </div>
    </div>
    {% assign post_index = post_index | plus: 1 %}
    {% endfor %}
  </div>
</div>