{% include html_top.html %}

<div class="main">

  <div style="background-image: url({{ site.baseurl }}/img/{{ page.image }}/sub.png);" class="subside-img">
    <div class="container">
      <div class="subside-img-text"><span class="hidden-xs">{{ page.add }}</span></div>
    </div>
  </div>

  

  <div class="container subside">


    <div class="row">

      <!-- Content Column left -->
      <div class="col-md-8">
        {{ content }}
      </div>

      <!-- Sidebar only desktop version-->
      <div class="col-md-4 sidebar hidden-xs">
        {% include gruende.html %}
      </div> 

    </div>

  </div>
  
  {% include footer.html %}

</div>

{% include html_bottom_js_includes.html %}