{% include html_top.html %}

<div class="main">
  
  <div style="background-image: url({{ site.baseurl }}/img/{{ page.image }}/sub.png);" class="subside-img"></div>
  <p class="hidden-xs">{{ page.add }}</p>
  
  <div class="container subside">
       
    <div class="content"> 
        {{ content }}
    </div>
  </div>
 

  <div class="container leistung">
    <div class="row">
      {% for item in page.items %}
        <a href="{{ item.link }}">
        <div class="col-md-4 col-sm-6 leistung-item">
          <div class="leistung-item-content">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa {{ item.icon }} fa-stack-1x fa-inverse"></i>
                </span>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <h4>{{ item.text }}</h4>
                Mehr erfahren<i class="fa fa-fw fa-angle-double-right"></i>
              </div>
            </div>
          </div>
        </div></a>
      {% endfor %}
    </div>
  </div>   

    
{% include footer.html %}

</div>

{% include html_bottom_js_includes.html %}